<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <appSettings>
    <add key="Title" value="WEB.UAT.CONFIG"/>
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="DEFAULT IN UAT"/>
    <add name="IdentityConnectionString" connectionString="IDENTITY IN UAT"/>
  </connectionStrings>

</configuration>
